/* wwwroot/css/styles.css */

/* Общие стили */
body {
    padding-top: 2rem;
}

/* Стили для дашборда */
.wrapper {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #343a40;
    color: #fff;
    padding: 1rem;
}

    .sidebar h2 {
        text-align: center;
        margin-bottom: 1rem;
    }

    .sidebar ul {
        list-style: none;
        padding: 0;
    }

        .sidebar ul li {
            padding: 0.5rem 1rem;
            cursor: pointer;
        }

            .sidebar ul li:hover {
                background-color: #495057;
            }

.content {
    flex-grow: 1;
    padding: 1rem;
    overflow-y: auto;
}

/* Стили для модального окна */
.group-header {
    background-color: #f8f9fa;
    font-weight: bold;
}

.finished {
    background-color: #f2dede;
}

.equipment-finished {
    background-color: #d9edf7;
}


/* Устанавливаем z-index для стандартного backdrop */
.modal-backdrop.show {
    z-index: 1040;
}

/* Для вложенного модального окна задаём более высокий z-index */
.modal.nested-modal {
    z-index: 1060;
}